  <!--Data Binding: String interpolation Example.-->  
    <div style="text-align:center">
      <h3> Welcome {{ name }}! in Angular journy.</h3>
    </div>
    <hr>

  <!--Angular Basics (2): 
  <app-server-list></app-server-list> -->

  <!--databind: Component communication, Input, Output, ViewChild
  <app-databind></app-databind> -->

  <!--Services: 
  <app-service></app-service> -->

  <!--Dierectives: Stuctural and Attibute Directives and Custom Directive Creation
  <app-directives></app-directives> -->

  <!--Routes, ChildRoute, Resolver, Static/Dynamic data pass, AuthGuard, ChildGuard
  <app-routes-example></app-routes-example> -->

  <!--Observable (rxjs), Subject
  <app-observable-example></app-observable-example> -->

  <!--Form: Template Driven Approach
  <app-form-template-driven></app-form-template-driven> -->

  <!--Form: Reactive Approach -->
  <app-form-reactive></app-form-reactive>
  

  




