  <!--Data Binding: String interpolation Example.-->  
    <div style="text-align:center">
      <h3> Welcome {{ name }}! in Angular journy.</h3>
    </div>
    <hr>

  <!--Angular Basics (2): 
  <app-server-list></app-server-list>-->

  <!--databind: Component communication, Input, Output, ViewChild
  <app-databind></app-databind>-->

  <!--Services: -->
  <app-service></app-service>

  <!--Dierectives: Stuctural and Attibute Directives and Custom Directive Creation
  <app-directives></app-directives>-->
  

  <!--Form Data with Template Driven Approach 
  <app-form-template-driven></app-form-template-driven>
  -->

  <!--Form Data with Reactive Approach -->
  <!--<app-form-reactive></app-form-reactive>-->
  

  




