<div class="container">
  
  <!--cockpit component-->
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBluprintAdded($event)"
  ></app-cockpit>
    
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!--Component Data Binding: binded srvElement(in server-element-component) with serverElement(of databind-component) -->
      <app-server-element 
        *ngFor="let serverElement of serverElements" 
        [srvElement]="serverElement"></app-server-element>
    </div>
  </div>

  
</div>
  