<div class="row">
  <div class="col-xs-12">
    <img 
      [src]="recipeDetail.imagePath" 
      alt="{{recipeDetail.name}}" 
      class="img-responsive" 
      style="max-height: 150px" >
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Recipe: {{recipeDetail.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!--Added Custom Directive for dropdown that "appDropdown"-->
    <div class="btn-group" appDropdown>
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
          Manage Recipe
          <span class="caret"></span>
      </button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add to Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description: {{recipeDetail.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br>
    Ingredients required !!!
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let ingredient of recipeDetail.ingredients">
        {{ingredient.name}} ({{ingredient.amount}} in gm.)
      </li>
    </ul>
  </div>
</div>